* {
  padding: 0px;
  margin: 0px;
  font-family: 'Comfortaa';
  float: none;
}

body {
  background: #93b7d1;
}

.bar {
  background: #282d32;
  color: wheat;
  width: 15rem;
  height: 100rem;
  float: left;
  position: sticky;
  top: 0px;
}

.article {
  float: right;
}

