* {
  padding: 0px;
  margin: 0px;
  font-family: 'Comfortaa';
  float: none;
}

body {
  background: #93b7d1;
  height: 100rem;
}

.bar {
  background: #282d32;
  color: wheat;
  width: 15rem;
  z-index: 10;
  margin: 10px;
  /*height: 100%;*/
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.list-unstyled {
  margin: 25px;
  font-size: 25px;
}

.bottom {
  padding: 5px 10px;
  background: #333333;
  background: initial;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px 30px;
}

.bottom:hover {
  background: rgba(35,35,35,0.81);
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
}

