*{
    padding: 0;
    margin: 0;
    font-family:"Noto Mono";
}
.bottom:hover{
    color: wheat;
    background: #6c6c6c;
}
.bottom{
    text-decoration: none;
    color: white;
    padding: 5%;
    margin: 10%;

}
body{
    background: gray;
}
div {
    background: #4d4d4d;
    width: 11%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-top: 3%;
}